@import "foundation_icons_general_enclosed/general_enclosed_foundicons";
@import "foundation/app";


ul.pricing-table{
  li.title{
    min-height: 80px;
  }

  li.description{
    min-height: 160px;
  }
}

#login_form{
  min-height: 300px;
}


td.remove{
  i[class*="foundicon-"]{
    line-height: 1.2;
  }
}

form.order {
  .row {
    .row{
      margin:0;
    }
  }
}

//temporary fixes for FF
ul.products a.radius > img {
  max-height: 173px;
  max-width: 173px;
}

article.product a.radius >img{
  max-height: 129px;
  max-width: 129px;
}

article.product li a.radius >img{
  max-height: 43px;
  max-width: 43px;
}