<form>
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="email" class="right inline">E-Mail</label>
        </div>
        <div class="small-9 columns">
          <input type="email" id="email" placeholder="Inline Text Input" ng-model="email">
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label for="password" class="right inline">Password</label>
        </div>
        <div class="small-9 columns">
          <input type="password" id="password" placeholder="Inline Text Input" ng-model="password">
        </div>
      </div>
    </div>
  </div>
</form>