<article class="product large-12 columns">
  <h3>{{product.name}}</h3>

  <div class="row">
    <div class="small-3 columns">
      <a href="#/products/{{product.entity_id}}" class="th radius"><img ng-src="{{product.image_url}}"></a>
    </div>
    <div class="small-4 columns">
      <ul class="small-block-grid-3">
        <li ng-repeat="image in productImages">
          <a class="th radius">
            <img ng-src="{{image.url}}" alt="{{product.name}}" ng-click="setImage(image.url)"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="large-offset-2"></div>
  </div>
  <h6>{{product.short_description}}</h6>
  <p ng-bind-html-unsafe="product.description"></p>
  <p class="small-11 small-centered columns" ng-bind-html-unsafe="product.in_depth"></p>

</article>

